body.homepage {
  background-image: url("../img/juxt.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.homepage-categories,
.theme-gallery {
  text-align: center;
}

.homepage-categories,
.thumbnail {
    margin: 0 100px;
    border-radius 50px;
}

.jumbotron{
	border-radius: 50px;
	background-color: white;
}

h3 {
  background-color: white;
  border-radius: 50px;
  padding: 25px;
  border-style: none;
  color: black;
  text-transform: uppercase;
}

a {
    color: black;
    text-transform: uppercase;
}
	
